.wrapper-clockdate {
  padding:25px;
  width:450px;
  text-align:center;
  margin:25px auto;
}

.intro {
  font-family:'Open Sans', sans-serif;
  padding-top:5%;
  padding-left:20%;
  padding-right:20%;
}

#clock-large {
  font-family:'Open Sans', sans-serif;
  font-size:60px;
  width:500px;
  height:60px;
}

#clock-large span { 
  font-size:30px;
  position:relative;
  top:-25px;
  left:-10px;
}