html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
}

.navbar-brand, .navbar-default .navbar-brand {
  color: rgb(46, 62, 70);
  font-weight: 500;
}

footer.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}
