label {
  width: 200px;
  font-weight: normal;
}

input {
  margin-top: 10px;
}

.helptext {
  font-size: 13px;
  margin-left: 20px;
}

input[type="submit"] {
  padding: 4px 36px;
  text-decoration: none;
}