{% extends "default_layout.html" %}

{% block head %}
<style>
  .listing-image {
    width: 100%;
    height: 75vh;
    margin-bottom: 15px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .glyphicon-star {
    color: gold;
  }

  .glyphicon-star-empty {
    color: lightgray;
  }

  .sidebar h4:not(:first-child) {
    margin-top: 25px;
  }

  .sidebar .btn-lg {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .table>tbody>tr:first-child>td {
    border-top-width: 0px;
  }

  .table>tbody>tr:last-child>td {
    border-top-width: 2px;
  }

  .modal .table {
    margin-bottom: 0;
  }
</style>
{% endblock %}

{% block title %}{{ listing.title }} | FrnT{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12 listing-image" style="background-image: url({{ listing.pictures.all.0.url }})"></div>

  <div class="col-md-8">
    <h1 clss="col-md-12">{{ listing.title }}</h1>
    <p class="lead text-muted">Price: ${{listing.price}} per week &bull; Location: {{listing.location.city}}</p>
    <h4>About this listing</h4>
    <p>
      {{ listing.description }}
    </p>
  </div>

  <div class="sidebar col-md-4">
    <h4>About the lister</h4>
    <div class="row">
      <div class="col-md-4">
        <img src="{{listing.user.profile_image}}" class="img-thumbnail" style="width: 140px" />
      </div>
      <div class="col-md-8">
        <a href="/{{listing.user.user.username}}">{{ listing.user.user.first_name }} {{listing.user.user.last_name}}</a>
        {% for i in listing.user.get_rating_range %}
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        {% endfor %}
        {% for i in listing.user.get_antirating_range %}
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        {% endfor %}
        <p style="margin-top:5px;">{{ listing.user.biography }}</p>
      </div>
    </div>

    <h4>Pricing details</h4>
    <table class="table">
      <tr>
        <td>Rental rate</td>
        <td>${{listing.price}}</td>
      </tr>
      <tr>
        <td>Moving with El Cheapo</td>
        <td>$15</td>
      </tr>
      <tr>
        <td>Insurance</td>
        <td>$3.50</td>
      </tr>
      <tr>
        <td><strong>Total</strong></td>
        <td>${{listing.get_total|floatformat:2}}</td>
      </tr>
    </table>
    <a class="btn btn-success btn-lg btn-block center-block" href="#" data-toggle="modal" data-target="#myModal">Request Now</a>
    <a class="btn btn-sm btn-block center-block" href="#" data-toggle="modal" data-target="#myModal">Contact Lister</a>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Request "{{listing.title}}"</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6" style="height: 200px;">
            <h4>Pricing details</h4>
            <table class="table">
              <tr>
                <td>Rental rate</td>
                <td>${{listing.price}}</td>
              </tr>
              <tr>
                <td>Moving with El Cheapo</td>
                <td>$15</td>
              </tr>
              <tr>
                <td>Insurance</td>
                <td>$3.50</td>
              </tr>
              <tr>
                <td><strong>Total</strong></td>
                <td>${{listing.get_total|floatformat:2}}</td>
              </tr>
            </table>
            <small style="font-size:1rem;">You will not be charged until your booking is approved.</small>
          </div>
         <form method="POST" action="/book/" role ="book">

          <div class="col-md-6">
            <input name="first_name" type="hidden" value="{{ listing.user.user.first_name }}">
            <input name="title" type="hidden" value="{{ listing.title }}">
            <input name="to_email" type="hidden" value="{{ listing.user.user.email }}">
            <input name="from_email" type="hidden" value="{{ request.user.email }}">
            <label for="booking_message">Message for the lister</label>
              {% csrf_token %}
            <textarea name="booking_message" class="form-control" style="height: 200px; width: 100%;" rows="3"></textarea>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

             <button type="submit" class="btn btn-primary">Book!</button>

          </div>
</form>
        </div>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block tail %}
  <!-- This content will appear just before </body> tag -->
{% endblock %}
